
<link rel="stylesheet" type="text/css" href="homeStyle.css">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
  	<ul class="nav nav-pills topnav">
  		<li>
  			<a href="#"><image class="logo" href="index.html" src="images/wakaconlogo.png"></image></a>
  		</li>
  		<li>
  			<a href="#" class="topnav_products" title="Products">Products</a>
  		</li>
  		<li>
  			<a href="#" class="topnav_products" title="Products">Login</a>
  		</li>
  		<li>
  			<a href="#" class="topnav_products" title="Products">About</a>
  		</li>
  		<li>
  			<a href="#" class="topnav_products" title="Products">Contact</a>
  		</li>
  	</ul>
  </div>
</nav>
<div>
<h3>Example heading <span class="label label-default">New</span></h3>
</div>

<footer class="footer">
	<div class="lowerNav">
		<ul>
			<li>Terms and Conditions</li>
			<li>Shipping</li>
			<li>Returns</li>
			<li>FAQ</li>
			<li>Privacy</li>
		</ul>

	</div>

</footer>
